* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-grow: 1;
  max-width: 500px;
}
header {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  padding: 1.2rem;
  text-align: center;
}
h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
}
li {
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  position: relative;
}
li::before {
  content: "✘";
  color: #dc3545;
  position: absolute;
  font-weight: 600;
  left: 0;
}

li.match::before {
  content: "✔";
  color: #02a72b;
}

#sign-up-form {
  padding: 1.5rem;
  border-radius: 8px;
}
form {
  display: flex;
  flex-direction: column;
}
.form-group {
  margin-bottom: 1.25rem;
  position: relative;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input::placeholder {
  color: rgb(197, 197, 197);
}
input:focus {
  outline: none;
  border-color: #6e8efb;
}
input.invalid {
  border-color: #dc3545;
}
.error-message {
  display: none;
  color: #dc3545;
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
}
button {
  padding: 0.75rem;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: opacity 0.3s ease;
  margin-block: 1rem;
}
button:hover {
  opacity: 0.9;
}
footer {
  text-align: center;
  padding: 1rem;
  color: #6c757d;
  font-size: 0.875rem;
}

input:not(:placeholder-shown):valid {
  border-color: #02a72b;
}

input:not(:placeholder-shown):invalid {
  border-color: #dc3545;
}

input:not(:placeholder-shown):invalid + .error-message {
    display: block;
}